<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Digital Doctor's homepage offers intuitive access to online medical consultations, 24/7 healthcare, and certified professionals."
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap"
            rel="stylesheet"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


        <link rel="stylesheet" href="<%= cssPath %>" />
        <title>Digital Doctor||about</title>
    </head> -->
    <%- include('partials/header') %>
    <!-- <%- include('partials/footer') %> -->
    <body>
    <%- include('partials/nav_bar') %>

        <!-- <section class="container">
            <div class="headnav">
                <header class="header">
                    <div class="header__div">
                        <img
                            src="../img/logo6.png"
                            class="logo"
                            alt="Digital Doctor"
                        />
                    </div>
                </header>
                <label class="lab">
                    <input class="inp" type="checkbox" />
                    <div class="toggle">
                        <span class="top_line common"></span>
                        <span class="middle_line common"></span>
                        <span class="bottom_line common"></span>
                    </div>
                    <nav class="nav">
                        <div class="nav__div">
                            <h3 class="nav__div-h3">MENU</h3>
                            <a href="#" class="nav__div_li">Home</a>
                            <a class="nav__div_li" href="#">Consultation</a>
                            <a class="nav__div_li" href="#">Doctors</a>
                            <a class="nav__div_li" href="#">Contact Us</a>
                            <a class="nav__div_li" href="#">About</a>
                        </div>
                    </nav>
                </label>
            </div>
        </section>  -->
        <!-- start here -->
        <section class="page">
            <div class="main">
                <h1>want to know more about us???</h1>
                <p>connect with certified doctors online!!!</p>
                <h3>only on digital doctor
                    <br>
                <h6>
                    your health,your way...
                </h6>
                    
                </h3>
                <h3></h3>
            </div>
        </section>
        <section class="about">
            <div class="title">
                <h3>About<span>Us</span></h3>
            </div>
            <div class="info-1-title">
                <h3 class="info-1-text">Who We Are</h3>
            </div>
            <div class="info">
                <div class="info-1-img">
                    <img  class="img" src="../img/doc 2.jpg" alt="about-img">
                </div>
                <div class="info-text">
                    <span>At Digital Doctor

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora fugiat doloribus sequi quod non, numquam officia reprehenderit distinctio atque qui architecto ducimus hic aspernatur! Corporis rem esse voluptate corrupti velit cumque officiis ratione rerum quasi. Suscipit voluptatum, delectus asperiores, perferendis unde id iste totam neque, accusantium quasi rem! Nulla numquam unde quidem nisi maxime qui suscipit nostrum quaerat. Similique, mollitia cupiditate rerum consequuntur quaerat nisi consectetur error porro doloribus hic, odio enim expedita numquam ex! Rerum molestiae aliquam deserunt dolorem.</p>
                        </span>
                </div>
                <div class="info-2">
                    <div class="info-2-text">
                        <h2>why you should rely on us.</h2>
                    </div>
                    <img class="image-2" src="../img/rely.jpeg" alt="rely">
                    <div class="row-1">
                        <span class="after">Expertise You Can Trust:</span>
                        <p> With years of experience and specialized training, we provide accurate diagnoses and effective treatments tailored to your needs.</p>
                        <div class="row-2">
                            <span class="after">Patient-Focused Care:</span>
                        <p>We listen, understand, and treat you as an individual. Your concerns are always our top priority.</p>
                        </div>
                        <div class="row-3">
                            <span class="after">Cutting-Edge Technology:</span>
                        <p>Our practice is equipped with advanced tools and techniques to ensure you receive the best care possible.
                        </p>
                        </div>
                    </div> 
                </div>
                
            </div>
           
            <div class="col-1">
                <div class="row-4">
                    <span class="afters">Comprehensive Services:</span>
                    <p class="para">From preventive care to managing complex conditions, we’re here to support your health journey at every stage.
                    </p>
                </div>
                <div class="row-5">
                    <span class="afters">Accessible and Convenient:</span>
                    <p class="para">We offer flexible appointment options and are conveniently located in [City/Area], making it easier for you to prioritize your health.
                    </p>
                </div>
                
            </div>
            <div class="special">
                <p>
                    When it comes to your well-being, you deserve nothing but the best—and that’s exactly what we’re here to provide........
                </p>
            </div> 
        </section>

            <!-- end here -->    
    <%- include('partials/footer') %>

            <!-- <footer class="footer">
                <div class="footer__div1">
                    <p class="footer__div1-p">
                        <span>About Digital Doctors:</span> Digital Doctor connects
                        you with certified doctors online, offering 24/7 access to
                        quality healthcare. Learn more in our Privacy
                        <a href="#">Policy and Terms</a> &
                        <a href="#">Conditions.</a>
                    </p>
                </div>
                <div class="footer__div2">
                    <article class="footer__div2-article1">
                        <p class="footer__div2-article1-p">
                            <a href="#">Home</a>/<a href="#">Consultation</a>/<a
                            href="#"
                            >Doctors</a
                            >/<a href="#">About Us</a>
                        </p>
                    </article>
                    <article class="footer__div2-article2">
                        <p>Connect With Us On</p>
                        <div>
                            <a href="#"
                            ><img src="../img/linkedIn.png" alt="Facebook Logo"
                            /></a>
                            <a href="#"
                            ><img
                            src="../img/xtwitter.png"
                            alt="Twitter(X) Logo"
                            /></a>
                            <a href="#"
                            ><img src="../img/facebook.png" alt="LinkedIn Logo"
                            /></a>
                        </div>
                    </article>
                    <article class="footer__div2-article3">
                        <p>
                            Contact Us
                            <br />
                            Email: <a href="#">support@digitaldoctor.com</a>
                            <br />
                        Phone: +2347066886470
                    </p>
                </article>
            </div>
        </footer> -->
    </body>
</html>