<%- include('partials/header') %>
<%- include('partials/nav_bar') %>

<body class="container">

  <main class="container2">
    <section class="top__container2">
      <h3 class="top__container2-h2">Welcome, <span class="span2"><%= admin.role %> </span><%= admin.name %></h3>
    </section>

    <%- include('partials/adminSideBar') %>


    <section class="body">
      <p class="body-text"><Strong>First Name:</Strong> <%= admin.name %></p>
      <p class="body-text"><strong>Email:</strong> <%= admin.email %></p>
      <p class="body-text"><strong>Role:</strong> <%= admin.role %></p>
    </section>
  </main>

  <%- include('partials/footer') %>

</body>

</html>