<%- include('partials/header') %>
<%- include('partials/nav_bar') %>

<body>
  <section class="complete_body">

    <main class="container">
      <section class="container__body">
        <form action="#" enctype="multipart/form-data" class="form" id="registrationForm">
          <div class="form__group">
            <h2 class="form__h2">
              Book An Appointment With A Doctor
            </h2>
          </div>

          <div class="form__group form_val">
            <label class="form__label form__label-anim" for="first_name">First Name</label>
            <input type="text" class="form__input form__input-anim" id="first_name" placeholder="First Name" name="first_name" value="<%= patientData.first_name  || ''  %>" first_name required minlength="3" custommaxlength="30" />
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>
          <div class="form__group form_val">
            <label class="form__label form__label-anim" for="last_name">Last Name</label>
            <input type="text" class="form__input form__input-anim" id="last_name" placeholder="Last Name" name="last_name" value=" <%= patientData.last_name || ''  %>" required minlength="3" custommaxlength="30" />
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>
          <div class="form__group form_val">
            <label class="form__label form__label-anim" for="email">Email Address</label>
            <input type="email" class="form__input form__input-anim" id="email" name="email" value="<%= patientData.email || ''  %>" placeholder="Email Address" required minlength="5" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>
          <div class="form__group form_val">
            <label class="form__label form__label-anim" for="age">Phone</label>
            <input type="number" class="form__input form__input-anim" id="phone_no" placeholder="phone" name="phone" value="<%= patientData.phone || ''  %>" required minlength="8" />
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>
          <div class="form__group form__radio-group form_val">
            <h3>Gender</h3>
            <div class="form__group form__radio-group">
              <input type="radio" class="form__radio-input" id="male" value="male" <%= patientData.gender
                                === 'male' ? 'checked' : '' %> name="gender" required-radio />
              <label class="form__label form__radio-label form__radio-first" for="male">
                <span class="form__radio-button"></span>
                Male
              </label>
            </div>
            <div class="form__group form__radio-group">
              <input type="radio" class="form__radio-input" id="female" value="female" <%=
                                patientData.gender === 'female' ? 'checked' : ''
                                %> name="gender" required-radio />
              <label for="female" class="form__label form__radio-label form__radio-second">
                <span class="form__radio-button"></span>
                Female
              </label>
            </div>
            <span class="error-icon span__radio-error radio-1 hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon span__radio-success radio-2 hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>

          <div class="form__group form_val">
            <label class="form__label form__label-anim" for="dob">Date of Birth</label>
            <input type="date" class="form__input form__input-anim" id="dob" name="date_of_birth" placeholder="Date of Birth" value="<%= patientData.date_of_birth ? patientData.date_of_birth.toISOString().split('T')[0] : '' %>" required />
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>
          <div class="form__group form_val">
            <label class="form__label form__label-anim" for="reasons for appointment">Reasons For Appointment</label>
            <input type="text" class="form__input form__input-anim" id="reasons for appointment" placeholder="Reasons For Appointment" name="appointment_reasons" required minlength="3" custommaxlength="500" />
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>
          <div class="form__group form_val">
            <label class="form__label form__label-anim" for="doa">Date of Appointment(Note: Appointment Day is
              Monday to Friday )</label>
            <input type="date" class="form__input form__input-anim" id="doa" name="appointment_date" placeholder="Date of Appointment" required />
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>
          <div class="form__group form_val">
            <label class="form__label form__label-anim" for="toa">Time of Appointment(Note: Appointment time is
              9:00 AM - 5:00 PM )</label>
            <input type="time" class="form__input form__input-anim" id="toa" name="appointment_time" placeholder="Time of Appointment" required />
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>


          <!--     <div class="form__group form__select-group form_val">
            <label class="form__label" for="preferred_doctor">Select Your Preferred Doctor</label>
            <select name="doctor_id" id="doctor_id" class="form__select" validate-select>
              <option value="">-- Select a Doctor --</option>
              <% doctors.forEach(function(doctor){ %>
              <option value="<%= doctor.id %>">
                Dr <%= doctor.first_name %> <%=
                                    doctor.last_name %> - <%=
                                    doctor.specialization %>
              </option>
              <% }) %>

            </select>
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div> -->

          <div class="form__group form__select-group form_val">
            <label class="form__label" for="preferred_doctor">Your Preferred Doctor</label>
            <input type="hidden" name="doctor_id" value="<%= selectedDoctor ? selectedDoctor.id : '' %>">
            <input type="text" class="form__input form__input-anim" id="doctor_id" name="preferred_doctor" value="<%= selectedDoctor ? selectedDoctor.first_name + " " + selectedDoctor.last_name + " - " + selectedDoctor.specialization  : '' %>" readonly>
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>

          <div class="form__group form_val">
            <label class="form__label form__label-anim" for="address">Existing Medical Conditions</label>

            <input type="text" class="form__input form__input-anim" id="existing medical conditions" name="existing_medical_record" placeholder="Your existing medical conditions" required minlength="5" />
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>

          <div class="form__group form_val">
            <label class="form__label form__label-anim" for="medical_image">Upload Previous Medical Records (if any)</label>
            <input type="file" class="form__input
                            form__input-anim" id="medical_image" name="medical_images" accept="image/png,
                            image/jpeg, image/jpg" maxsize="2097152" multiple />
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>

          <div class="form__group form__terms form_val">
            <input type="checkbox" name="terms" id="terms" value="accepted" required-checkbox />
            <label class="form__label" for="terms">I agree to the terms and condition
            </label>
            <span class="error-icon hidden">
              <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <span class="success-icon hidden">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="error"></div>
          </div>
          <button class="form__button" type="submit">
            Book Appointment
          </button>

        </form>
      </section>
      <!-- <div id="formSummary"></div> -->
    </main>
  </section>
  <%- include('partials/footer') %>
  <script>
    const API_BASE_URL = '<%= apiBaseUrl %>';
  </script>
  <script src="/javascripts/book_appointment.js"></script>
</body>

</html>