<%- include('partials/header') %>
<%- include('partials/nav_bar') %>

<body class="container">


  <!--  -->

  <main class="container2">
    <section class="top__container2">
      <h3 class="top__container2-h2">Welcome, <%= `${patient.first_name + " " + patient.last_name}` %></h3>
      <p class="top__container2-p">Your health, our priority</p>
    </section>

<%- include('partials/patienceSideBar') %>

    <section class="body">
      <p class="body-text"> <strong>First Name:</strong> <%= patient.first_name %></p>
      <p class="body-text"><strong>Last Name:</strong> <%= patient.last_name %></p>
      <p class="body-text"><strong>Email: </strong><%= patient.email %></p>
      <p class="body-text"><strong>Phone:</strong> <%= patient.phone %></p>
      <p class="body-text"><strong>Date of Birth:</strong> <%= patient.date_of_birth.toISOString().split("T")[0] %></p>
      <p class="body-text"><strong>Gender:</strong> <%= patient.gender %></p>
      <p class="body-text"><strong>Address:</strong>
        <%= patient.address %>
      </p>
    </section>
  </main>
  <!--  -->
  <%- include('partials/footer') %>

</body>

</html>