

<%- include('partials/header') %>
<%- include('partials/nav_bar') %>


<main class="container2">
  <section class="top__container2">
    <h3 class="top__container2-h2">All Admin</h3>
  </section>

  <%- include('partials/adminSideBar') %>

  </section>

  <% if (admins && admins.length > 0) { %>
  <section class="body">
    <table class="table">
      <thead class="table__head">
        <th>Names</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </thead>
      <% admins.forEach(admin => { %>
      <tbody>
        <tr>
          <td><%= admin.name %></td>
          <td><%= admin.email %></td>
          <td><%= admin.role %></td>
          <td>
            <form action="/deleteAdmin/<%= admin.id %>?_method=DELETE" method="POST" onsubmit="return confirmDelete(event)">
              <button type="submit" class="table-button">Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
      <% }) %>
    </table>
  </section>

  <% } else { %>
  <section class="body">
    <p style="font-weight: bold; color: red;">No Admin Found.</p>
  </section>
  <% } %>
  <div class="div__style">
    <a class="div__style-button" href="/registerAdmin">Register Admin </a>
  </div>
</main>

<%- include('partials/footer') %>


<script>
  function confirmDelete(event) {
    // Show confirmation dialog
    const userConfirmed = confirm("Are you sure you want to delete this Admin?");

    // If the user clicks "Cancel," prevent form submission
    if (!userConfirmed) {
      event.preventDefault();
      return false;
    }
    return true; // Allow form submission
  }
</script>
</body>



</html>


