 <%- include('partials/header') %>
 <%- include('partials/nav_bar') %>

 <body class="container">
   <h2 class="container-h2">Select A Doctor Of Your Choice</h2>
   <section class="doctor-cards-container">
     <% doctors.forEach(doctor => { %>
     <div class="doctor-card">
       <img class="doctor-card__image" src="/uploads/<%= doctor.profile_image %>" alt="Doctor Image">
       <h2 class="doctor-card__name"><%= doctor.first_name + " " + doctor.last_name %></h2>
       <p class="doctor-card__specialization"><%= doctor.specialization %></p>
       <p class="doctor-card__bio"><%= doctor.gender %></p>
       <p class="doctor-card__bio"><%= doctor.phone %></p>
       <% if (!userRole.includes("Admin") && !userRole.includes("Super Admin")) { %>
       <div class="doctor-card__buttons">
         <a href="/bookAppointment" class="button book-appointment">Book Appointment</a>
       </div>
       <% } %>
       <% if (userRole.includes("Admin") || userRole.includes("Super Admin")) { %>
       <div class="doctor-card__buttons">
         <a href="/editDoctor/<%= doctor.id %>" class="button book-appointment">Edit</a>
       </div>
       <div class="doctor-card__buttons">
        <form action="/deleteDoctor/<%= doctor.id %>?_method=DELETE" method="post" onsubmit="return confirmDelete(event)" >
          <button  type="submit" class="button book-appointment-2" >Delete</button>
        </form>
       </div>
       <% } %>

     </div>
     <% }) %>
   </section>
   <div class="div__style">
     <div class="div__style-pagination">
       <% if (currentPage > 1) { %>
       <a href="/showAllDoctors?page=<%= currentPage - 1 %>&limit=<%= limit %>" class="div__style-pagination__link">Previous</a>
       <% } %>

       <% for (let i = 1; i <= totalPages; i++) { %>
       <a href="/showAllDoctors?page=<%= i %>&limit=<%= limit %>" class="div__style-pagination__link <%= i === currentPage ? 'active' : '' %>"><%= i %></a>
       <% } %>

       <% if (currentPage < totalPages) { %>
       <a href="/showAllDoctors?page=<%= currentPage + 1 %>&limit=<%= limit %>" class="div__style-pagination__link">Next</a>
       <% } %>
     </div>
     <a class="div__style-button" href="/doctorRegister">Register Doctor </a>
   </div>

   <%- include('partials/footer') %>

   <script>
    function confirmDelete(event){
      const userConfirmed = confirm("Are you sure you want to delete this Doctor?");

      if (!userConfirmed){
        event.preventDefault();
        return false;
      }
      return true;
    }
   </script>
 </body>


