<%- include('partials/header') %>
<%- include('partials/nav_bar') %>


<main class="container2">
  <section class="top__container2">
    <h3 class="top__container2-h2">My Appointments</h3>
  </section>


  <%- include('partials/adminSideBar') %>

  <section class="body">
    <% if (appointments && appointments.length > 0) { %>
    <section class="body1">
      <table class="table">
        <thead class="table__head">
          <th>Preferred Doctor</th>
          <th>Appointment Date</th>
          <th>Appointment Time</th>
          <th>Appointment Reasons</th>
          <th>Existing Medical Record</th>
          <th>Status</th>
          <th>Medical Images</th>
          <th>Action</th>
        </thead>
        <% appointments.forEach(appointment => { %>
        <tbody>
          <tr>
            <td><%= appointment.preferred_doctor %></td>
            <td><%= appointment.appointment_date ? appointment.appointment_date.toISOString().split("T")[0] : "" %></td>
            <td><%= appointment.appointment_time %></td>
            <td><%= appointment.appointment_reasons %></td>
            <td><%= appointment.existing_medical_record %></td>
            <td><%= appointment.status %></td>
            <td>
              <% if (Array.isArray(appointment.medical_images)
                                && appointment.medical_images.length > 0) { %>
              <%
                                appointment.medical_images.forEach(function(image)
                                { %>
              <img src="<%= image %>" alt="Medical Image" style="
                                        width: 100px;
                                        height: auto;
                                        margin-right: 10px;
                                    " />
              <% }); %> <% } else { %> Not Available <% } %>
            </td>

            <!-- <td><%= appointment.status %></td> -->

            <td>
              <a class="link" href="/editAppointment/<%= appointment.id %>">Edit</a>
              <br />
              <!-- <form action="/deleteAppointment/<%= appointment.id %>" method="POST" ></form>
                                <a
                                    class="link"
                                    href="/deleteAppointment/<%= appointment.id %>"
                                    >Delete</a
                                >
                                </form> -->

              <form action="/deleteAppointment/<%= appointment.id %>?_method=DELETE" method="POST" value="DELETE" style="display:inline;">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit" style="background:none; border:none; color:blue; text-decoration:none; cursor:pointer; font-size:24px; ">Delete</button>

              </form>
            </td>
          </tr>
        </tbody>
        <% }) %>
      </table>
    </section>
    <% } else { %>
    <!-- <p>No appointments found.</p> -->
    <section class="body1">
      <p style="font-weight: bold; color: red;">No appointments found.</p>
    </section>
    <% } %>
    <div class="div__style">
      <div class=" div__style-pagination">

        <% if (currentPage > 1) { %>
        <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>" class="div__style-pagination__link">Previous</a>
        <% } %>
        <% for (let i = 1; i <= totalPages; i++) { %>
        <a href="?page=<%= i %>&limit=<%= limit %>" class=" div__style-pagination__link <%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>
        <% if (currentPage < totalPages) { %>
        <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>" class="div__style-pagination__link">Next</a>
        <% } %>
      </div>
    </div>
  </section>
</main>


<%- include('partials/footer') %>

</body>

</html>