 <%- include('partials/header') %>
 <%- include('partials/nav_bar') %>
 <!-- <%- include('partials/footer') %> -->

<body class="container">
  <section class="doctor-cards-container">
    <% doctors.forEach(doctor => { %>
    <div class="doctor-card">
      <img class="doctor-card__image" src="/uploads/<%= doctor.profile_image %>" alt="Doctor Image">
      <h2 class="doctor-card__name"><%= doctor.first_name + " " + doctor.last_name %></h2>
      <p class="doctor-card__specialization"><%= doctor.specialization %></p>
      <p class="doctor-card__bio"><%= doctor.gender %></p>
      <p class="doctor-card__bio"><%= doctor.phone %></p>
      <div class="doctor-card__buttons">
        <a href="/bookAppointment" class="button book-appointment">Book Appointment</a>
      </div>
    </div>
    <% }) %>
  </section>
</body>

 <%- include('partials/footer') %>


<!-- </html> -->
